*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
:root{
    --primary-color: red;
    --secondary-color: rgb(241, 179, 62);
}
body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-inline: 12vh;
    font-family: "Jersey 10", sans-serif;
}
header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
}
header div{
    display: flex;
    gap: 5vh;
}
header a{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 1vh;
    font-size: 1.6vh;
    color: var(--secondary-color);
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title{
    color: white;
    text-align: center;
    position: relative;
}
.title h1{
    font-size: 18vw;
}
.title span{
    position: absolute;
    font-size: 22vw;
    left: 0;
    top: -45%;
    opacity: 0.3;
}
.container{
    display: flex;
}
.description{
    width: 50%;
    color: var(--secondary-color);
    z-index: 1;
}
.description h2{
    font-size: 11vh;
}
.description p{
    font-size: 3vh;
    width: 65vh;
}
.action{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action a{
    background-color: var(--secondary-color);
    height: 10vh;
    width: 27vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 6vh;
}
footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    font-style: italic;
    font-size: 4vh;
}
.primalgroudon{
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    height: 65vh;
}
@media (max-width :960px) {
    main{
    justify-content: space-between;
}
.title span{
    left: 50%;
    transform: translateX(-50%);
}
    .container{
    text-align: center;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
    .container div{
    width: 90%;
}
.container h2{
    font-size: 8vh;
}
.container p{
    font-size: 3vh;
    width: 100%;
}
.description h2{
    font-size: 7.3vh;
}
.description p{
    font-size: 3vh;
    width: 100%;
}
.action{
    justify-content: center;
}
    footer{
        display: none;
    }
    .primalgroudon{
        height: 48vh;
        left: 54%
    }
}